@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?18808118');
  src: url('../font/fontello.eot?18808118#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?18808118') format('woff'),
       url('../font/fontello.ttf?18808118') format('truetype'),
       url('../font/fontello.svg?18808118#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa-paypal:before { content: '\e800'; font-family: "fontello"; } /* '' */