<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config addfieldpath="/administrator/components/com_simplerenew/models/fields">
    <fields name="basic">
        <fieldset
            name="basic"
            label="COM_SIMPLERENEW_CONFIG_BASIC_LABEL">
            <field
                name="defaultGroup"
                label="COM_SIMPLERENEW_DEFAULT_GROUP_LABEL"
                description="COM_SIMPLERENEW_DEFAULT_GROUP_DESC"
                type="usergrouplist"/>

            <field
                name="codeMask"
                label="COM_SIMPLERENEW_ACCOUNT_CODEMASK_LABEL"
                description="COM_SIMPLERENEW_ACCOUNT_CODEMASK_DESC"
                type="text"
                default="%s"/>
        </fieldset>
    </fields>

    <fields name="gateway">
        <fields name="recurly">
            <fieldset
                name="recurly"
                label="COM_SIMPLERENEW_CONFIG_RECURLY_LABEL"
                description="COM_SIMPLERENEW_CONFIG_RECURLY_DESC">
                <field
                    name="mode"
                    label="COM_SIMPLERENEW_GATEWAY_MODE_LABEL"
                    type="list">
                    <option value="test">COM_SIMPLERENEW_GATEWAY_MODE_TEST</option>
                    <option value="live">COM_SIMPLERENEW_GATEWAY_MODE_LIVE</option>
                </field>

                <field
                    name="testHead"
                    label="COM_SIMPLERENEW_GATEWAY_HEAD_TEST"
                    type="heading"
                    tag="h4"/>

                <field
                    name="testApikey"
                    label="COM_SIMPLERENEW_RECURLY_APIKEY_LABEL"
                    type="text"/>

                <field
                    name="testPrivate"
                    label="COM_SIMPLERENEW_RECURLY_PRIVATE_LABEL"
                    type="text"/>

                <field
                    name="testSubdomain"
                    label="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_DESC"
                    type="text"/>

                <field
                    name="LiveHead"
                    label="COM_SIMPLERENEW_GATEWAY_HEAD_LIVE"
                    type="heading"
                    tag="h4"/>

                <field
                    name="liveApikey"
                    label="COM_SIMPLERENEW_RECURLY_APIKEY_LABEL"
                    type="text"/>

                <field
                    name="livePrivate"
                    label="COM_SIMPLERENEW_RECURLY_PRIVATE_LABEL"
                    type="text"/>

                <field
                    name="liveSubdomain"
                    label="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_DESC"
                    type="text"/>
            </fieldset>
        </fields>
    </fields>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_simplerenew"
            section="component"/>
    </fieldset>

    <fields name="advanced">
        <fieldset
            name="advanced"
            label="COM_SIMPLERENEW_CONFIG_ADVANCED_LABEL"
            description="COM_SIMPLERENEW_CONFIG_ADVANCED_DESC">

            <field
                name="fontAwesome"
                type="list"
                default="local"
                label="COM_SIMPLERENEW_ADVANCED_FONTAWESOME_LABEL"
                description="COM_SIMPLERENEW_ADVANCED_FONTAWESOME_DESC">
                <option value="cdn">COM_SIMPLERENEW_OPTION_YES_CDN</option>
                <option value="local">COM_SIMPLERENEW_OPTION_YES_LOCAL</option>
                <option value="no">JNO</option>
            </field>

            <field
                name="fontFamily"
                type="list"
                default="Open Sans:400,300,400italic,600,700"
                label="COM_SIMPLERENEW_ADVANCED_FONTFAMILY_LABEL"
                description="COM_SIMPLERENEW_ADVANCED_FONTFAMILY_DESC">
                <option value="none">COM_SIMPELRENEW_OPTION_FONT_NONE</option>
                <option value="Open Sans:400,300,400italic,600,700">COM_SIMPLERENEW_OPTION_FONT_OPEN_SANS</option>
            </field>

            <field
                name="theme"
                type="themes"
                default="default.css"
                label="COM_SIMPLERENEW_ADVANCED_THEME_LABEL"
                description="COM_SIMPLERENEW_ADVANCED_THEME_DESC">
            </field>

        </fieldset>
    </fields>
</config>
