<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<config addfieldpath="/administrator/components/com_simplerenew/models/fields">
    <fields name="basic">
        <fieldset
            name="basic"
            label="COM_SIMPLERENEW_CONFIG_FIELDSET_BASIC_LABEL">
            <field
                name="defaultGroup"
                label="COM_SIMPLERENEW_DEFAULT_GROUP_LABEL"
                description="COM_SIMPLERENEW_DEFAULT_GROUP_DESC"
                type="filteredgroup"
                exclude="core.admin"/>
        </fieldset>
    </fields>

    <fields name="account">
        <fieldset
            name="account"
            label="COM_SIMPLERENEW_CONFIG_FIELDSET_ACCOUNT_LABEL"
            description="COM_SIMPLERENEW_CONFIG_FIELDSET_ACCOUNT_DESC">

            <field
                name="codeMask"
                label="COM_SIMPLERENEW_ACCOUNT_CODEMASK_LABEL"
                description="COM_SIMPLERENEW_ACCOUNT_CODEMASK_DESC"
                type="text"
                default="%s"/>

            <field
                name="billingAddress"
                label="COM_SIMPLERENEW_ACCOUNT_BILLING_ADDRESS_LABEL"
                description="COM_SIMPLERENEW_ACCOUNT_BILLING_ADDRESS_DESC"
                type="list">
                <option value="none">COM_SIMPLERENEW_OPTION_NONE</option>
                <option value="">COM_SIMPLERENEW_OPTION_FULL_ADDRESS</option>
                <option value="address1,postal">COM_SIMPLERENEW_OPTION_ADDRESS_POSTAL</option>
                <option value="postal">COM_SIMPLERENEW_OPTION_POSTAL</option>
            </field>
        </fieldset>
    </fields>

    <fields name="gateway">
        <fields name="recurly">
            <fieldset
                name="recurly"
                label="COM_SIMPLERENEW_CONFIG_FIELDSET_RECURLY_LABEL"
                description="COM_SIMPLERENEW_CONFIG_FIELDSET_RECURLY_DESC">
                <field
                    name="mode"
                    label="COM_SIMPLERENEW_GATEWAY_MODE_LABEL"
                    type="list">
                    <option value="test">COM_SIMPLERENEW_GATEWAY_MODE_TEST</option>
                    <option value="live">COM_SIMPLERENEW_GATEWAY_MODE_LIVE</option>
                </field>

                <field
                    name="testHead"
                    label="COM_SIMPLERENEW_GATEWAY_HEAD_TEST"
                    type="heading"
                    tag="h4"/>

                <field
                    name="testApikey"
                    label="COM_SIMPLERENEW_RECURLY_APIKEY_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_APIKEY_DESC"
                    type="text"/>

                <field
                    name="testSubdomain"
                    label="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_DESC"
                    type="text"/>

                <field
                    name="LiveHead"
                    label="COM_SIMPLERENEW_GATEWAY_HEAD_LIVE"
                    type="heading"
                    tag="h4"/>

                <field
                    name="liveApikey"
                    label="COM_SIMPLERENEW_RECURLY_APIKEY_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_APIKEY_DESC"
                    type="text"/>

                <field
                    name="liveSubdomain"
                    label="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_LABEL"
                    description="COM_SIMPLERENEW_RECURLY_SUBDOMAIN_DESC"
                    type="text"/>
            </fieldset>
        </fields>
    </fields>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC">
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            class="inputbox"
            filter="rules"
            validate="rules"
            component="com_simplerenew"
            section="component"/>
    </fieldset>

    <fields name="themes">
        <fieldset
            name="themes"
            label="COM_SIMPLERENEW_CONFIG_FIELDSET_THEMES_LABEL"
            description="COM_SIMPLERENEW_CONFIG_FIELDSET_THEMES_DESC">

            <field
                name="fontAwesome"
                type="list"
                default="local"
                label="COM_SIMPLERENEW_CONFIG_FONTAWESOME_LABEL"
                description="COM_SIMPLERENEW_CONFIG_FONTAWESOME_DESC">
                <option value="cdn">COM_SIMPLERENEW_OPTION_YES_CDN</option>
                <option value="local">COM_SIMPLERENEW_OPTION_YES_LOCAL</option>
                <option value="no">JNO</option>
            </field>

            <field
                name="fontFamily"
                type="list"
                label="COM_SIMPLERENEW_CONFIG_FONTFAMILY_LABEL"
                description="COM_SIMPLERENEW_CONFIG_FONTFAMILY_DESC">
                <option value="none">COM_SIMPELRENEW_OPTION_FONT_NONE</option>
                <option value="Arial, Helvetica|sans-serif">COM_SIMPLERENEW_OPTION_FONT_ARIAL</option>
                <option value="Times New Roman|serif">COM_SIMPLERENEW_OPTION_FONT_TIMES_NEW_ROMAN</option>
                <option value="Droid Sans|sans-serif|400,700">COM_SIMPLERENEW_OPTION_FONT_DROID_SANS</option>
                <option value="Lato|sans-serif|400,400italic,700">COM_SIMPLERENEW_OPTION_FONT_LATO</option>
                <option value="Old Standard TT|serif|400,700,400italic">COM_SIMPLERENEW_OPTION_FONT_OLD_STARNDARD</option>
                <option value="Open Sans|sans-serif|400,400italic,600,700">COM_SIMPLERENEW_OPTION_FONT_OPEN_SANS</option>
                <option value="Ubuntu|sans-serif|400,400italic,700,500">COM_SIMPLERENEW_OPTION_FONT_UBUNTU</option>
            </field>

            <field
                name="theme"
                type="themes"
                default="default.css"
                label="COM_SIMPLERENEW_CONFIG_THEME_LABEL"
                description="COM_SIMPLERENEW_CONFIG_THEME_DESC">
            </field>

        </fieldset>
    </fields>
</config>
