/* Admin
 ========================================================================== */
.ost-container .ost-steps{
    text-align: center;
}
.ost-container .ost-connector{
    display:table-cell;
    height:90px;
}
.ost-container .ost-step{
    margin-top:15px;
}
.ost-container .ost-steps img{
    position: relative;
    top: 50%;
}
.ost-container .ost-steps .btn{
    margin-top: 6px;
}
.ost-container .ost-error{
    color: #b94a48;
}
.ost-container .ost-ok{
    color: #468847;
}
.ost-container-welcome,
.ost-container-dashboard{
    margin: 25px 0;
}