@media (min-width: 1200px) {
  [class*="block"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .ost-container {
    width: auto;
  }
  .block12 {
    width: 1170px;
  }
  .block11 {
    width: 1070px;
  }
  .block10 {
    width: 970px;
  }
  .block9 {
    width: 870px;
  }
  .block8 {
    width: 770px;
  }
  .block7 {
    width: 670px;
  }
  .block6 {
    width: 570px;
  }
  .block5 {
    width: 470px;
  }
  .block4 {
    width: 370px;
  }
  .block3 {
    width: 270px;
  }
  .block2 {
    width: 170px;
  }
  .block1 {
    width: 70px;
  }
  .ost-section {
    width: 100%;
    *zoom: 1;
  }
  .ost-section:before,
  .ost-section:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .ost-section:after {
    clear: both;
  }
  .ost-section [class*="block"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ost-section [class*="block"]:first-child {
    margin-left: 0;
  }
  .ost-section .block12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .ost-section .block11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .ost-section .block10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .ost-section .block9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .ost-section .block8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .ost-section .block7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .ost-section .block6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .ost-section .block5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .ost-section .block4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .ost-section .block3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .ost-section .block2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .ost-section .block1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  [class*="block"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .ost-container {
    width: auto;
  }
  .block12 {
    width: 724px;
  }
  .block11 {
    width: 662px;
  }
  .block10 {
    width: 600px;
  }
  .block9 {
    width: 538px;
  }
  .block8 {
    width: 476px;
  }
  .block7 {
    width: 414px;
  }
  .block6 {
    width: 352px;
  }
  .block5 {
    width: 290px;
  }
  .block4 {
    width: 228px;
  }
  .block3 {
    width: 166px;
  }
  .block2 {
    width: 104px;
  }
  .block1 {
    width: 42px;
  }
  .ost-section {
    width: 100%;
    *zoom: 1;
  }
  .ost-section:before,
  .ost-section:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .ost-section:after {
    clear: both;
  }
  .ost-section [class*="block"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.7624309392265194%;
    *margin-left: 2.709239449864817%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ost-section [class*="block"]:first-child {
    margin-left: 0;
  }
  .ost-section .block12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .ost-section .block11 {
    width: 91.43646408839778%;
    *width: 91.38327259903608%;
  }
  .ost-section .block10 {
    width: 82.87292817679558%;
    *width: 82.81973668743387%;
  }
  .ost-section .block9 {
    width: 74.30939226519337%;
    *width: 74.25620077583166%;
  }
  .ost-section .block8 {
    width: 65.74585635359117%;
    *width: 65.69266486422946%;
  }
  .ost-section .block7 {
    width: 57.18232044198895%;
    *width: 57.12912895262725%;
  }
  .ost-section .block6 {
    width: 48.61878453038674%;
    *width: 48.56559304102504%;
  }
  .ost-section .block5 {
    width: 40.05524861878453%;
    *width: 40.00205712942283%;
  }
  .ost-section .block4 {
    width: 31.491712707182323%;
    *width: 31.43852121782062%;
  }
  .ost-section .block3 {
    width: 22.92817679558011%;
    *width: 22.87498530621841%;
  }
  .ost-section .block2 {
    width: 14.3646408839779%;
    *width: 14.311449394616199%;
  }
  .ost-section .block1 {
    width: 5.801104972375691%;
    *width: 5.747913483013988%;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .ost-container {
    width: auto;
  }
  .ost-section {
    width: 100%;
  }
  [class*="block"],
  .ost-section [class*="block"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .block12,
  .ost-section .block12 {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ost-section [class*="offset"]:first-child {
    margin-left: 0;
  }
}