/* Subscribe
 ========================================================================== */
span.simplerenew-plan{
    display: inline-block;
    background: #f2f2f2;
    font-weight: 600;
    padding: 8px 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 4px;
    cursor: pointer;
}

span.simplerenew-plan.disabled,
span.simplerenew-plan.disabled:hover{
    background: #cccccc;
    color: #999999;
}

span.simplerenew-plan:hover{
    background: #cccccc;
}

#tab_card,
#tab_paypal{
    text-align: center;
    border: 1px solid #cccccc;
    float: left;
    width: 180px;
    cursor: pointer;
}

#tab_paypal{
    border-bottom-width: 0;
}

#tab_card{
    margin-left: 0;
    border-bottom-width: 0;
}

.tab-enabled{
    background: #ffffff;
}

.tab-disabled{
    background: #cccccc;
}

.content-enabled{
    display: block;
}

.content-disabled{
    display: none;
}

#content_card,
#content_paypal{
    border-top-width: 0;
    border: 1px solid #cccccc;
    margin-top: -1px;
}

.ost-container .ost-text-disabled{
    display: none;
}

.ost-container .ost-text-enabled{
    display: inline;
}

.ost-container .ost-breakline-mobile {
    display: none;
}

/* Help classes
 ========================================================================== */
.ost-container .m-bottom {
    margin-bottom: 30px;
}

.ost-container .m-top {
    margin-top: 30px;
}

.ost-container .p-bottom {
    padding-bottom: 30px;
}

.ost-container .p-full{
    padding: 30px;
}

.ost-container .b-bottom {
    border-bottom: 1px solid #f2f2f2;
}

/* Media Queries
 ========================================================================== */
@media (max-width: 480px){
    /* Subscribe */
    #tab_card,
    #tab_paypal{
        width: 130px;
    }
    #tab_card i,
    #tab_paypal i{
        display: none;
    }
    .ost-container .ost-breakline-mobile {
        display: inherit;
    }
}